# Byte-compiled / pycacahe
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
sent_emails/

# Environments
.vscode
.env
.venv
.venv-1/
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/