{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Issue Book{% endblock page_title %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% if alert %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Book issued successfully.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Issue Book to Student</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Select Book</label>
                                {{ form.isbn2 }}
                            </div>
                            <div class="form-group">
                                <label>Select Student</label>
                                {{ form.name2 }}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">Issue Book</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
