{% autoescape off %}
Dear {{ user.get_full_name|default:user.username }},

We received a request to reset your password for your College ERP account.

To reset your password, please click on the following link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you're unable to click the link, please copy and paste it into your browser's address bar.

This link will expire in 24 hours for security reasons. If you didn't request this password reset, please ignore this email.

For any assistance, please contact the system administrator.

Best regards,
College ERP System
System Administrator
{% endautoescape %}
