{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">{{page_title}}</h3>
          </div>
          {% include "main_app/form_template.html" with messages=messages form=form button_text="Enroll" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
